<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>sandstorm</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SongSearcher</display-name>
    <servlet-name>SongSearcher</servlet-name>
    <servlet-class>com.straussj.sandstorm.SongSearcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongSearcher</servlet-name>
    <url-pattern>/SongSearcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistSearcher</display-name>
    <servlet-name>ArtistSearcher</servlet-name>
    <servlet-class>com.straussj.sandstorm.ArtistSearcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistSearcher</servlet-name>
    <url-pattern>/ArtistSearcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArtist</display-name>
    <servlet-name>AddArtist</servlet-name>
    <servlet-class>com.straussj.sandstorm.AddArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArtist</servlet-name>
    <url-pattern>/AddArtist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistExamine</display-name>
    <servlet-name>ArtistExamine</servlet-name>
    <servlet-class>com.straussj.sandstorm.ArtistExamine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistExamine</servlet-name>
    <url-pattern>/ArtistExamine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumSearcher</display-name>
    <servlet-name>AlbumSearcher</servlet-name>
    <servlet-class>com.straussj.sandstorm.AlbumSearcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumSearcher</servlet-name>
    <url-pattern>/AlbumSearcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumExamine</display-name>
    <servlet-name>AlbumExamine</servlet-name>
    <servlet-class>com.straussj.sandstorm.AlbumExamine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumExamine</servlet-name>
    <url-pattern>/AlbumExamine</url-pattern>
  </servlet-mapping>
</web-app>